<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ai-Ai - About Us</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Custom styles for this template -->
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/heroic-features.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg text-black navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand navbar-left" href="index.html" ></a>
      <img src = "../Logos/PNG/BW_YellowBG.png"> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="StLouis_Overview.html">St. Louis Overview</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Market_Analytics.html">Market Analysis</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="Predictive_Analysis.html">Predictive Analysis</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">About Us</a>
            <span class="sr-only">(current)</span>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content  -  About Us Page-->
  <div class="header_container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>About Us</h1>
        </div>      
    </div>

    <!-- Jumbotron Header  -->
    <header class="jumbotron my-4">
      <img src="../Logos/PNG/AI-AI_Logo_1500x500.png" class="img-fluid" alt="jumbotron_logo">
    </header>
    <!-- Biographies -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="card">
                <div class="card-horizontal">
                    <div class="img-square-wrapper">
                        <img class="" src="../Images/about_John2.png" alt="Card image cap">
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">John Loucks</h4>
                        <p class="card-text">Experienced operations manager, team leader, & data analyst with multidisciplinary industry expertise in records management, product development, and sales forecasting.  Running shoe cognoscente.  </p>
                        <br>
                      <div class="">
                        <a href="https://linkedin.com/in/john-loucks-9aa5391b2" class="btn btn-primary">John's Linkedin</a>
                      </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="" src="../Images/about_Regan.jpg" alt="Card image cap">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"><b>Regan Maher</b></h4>
                      <br><br>
                      <p class="card-text">I am a marketing strategist with over 15 + years of experience in product management, direct marketing, event management, retention and consumer analytics. I understand consumer behaviors and can communicate with them through applications, data and design to drive desired results.
                      </p>
                      <br>
                      <div class="">
                        <a href="https://linkedin.com/in/regan-maher-b57b2b7" class="btn btn-primary">Regan's Linkedin</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
      <div class="col-12 mt-3">
          <div class="card">
              <div class="card-horizontal">
                  <div class="img-square-wrapper">
                      <img class="" src="../Images/about_Eric.png" alt="Card image cap">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title"> <b>Eric Penrose </b></h4>
                      <br><br>
                      <p class="card-text">Data Analyst with a passion for conquering challenging projects and a particular love for statistics/statistical analysis. Detail-oriented and meticulous. Translator of subtle trends into actionable insight. Fast-learner, capable of quickly acquiring and applying new skills. A proven past working effectively both in diverse groups and when flying solo.</p>
                      <br>
                      <div class="">
                        <a href="https://linkedin.com/in/ericspenrose" class="btn btn-primary">Eric's Linkedin</a>
                      </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
  

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-black">Ai-Ai &copy;2021</p>
      <p class="m-0 text-center text-black">Produced by John Loucks, Regan Maher and Eric Penrose.</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
