<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ai-Ai - St. Louis Overview</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>

  <!-- Custom styles for this template -->
  
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/css/heroic-features.css" rel="stylesheet">
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg text-black navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand navbar-left" href="index.html" ></a>
      <img src = "../Logos/PNG/BW_YellowBG.png"> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">St. Louis Overview</a>
            <span class="sr-only">(current)</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Market_Analytics.html">Market Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Predictive_Analysis.html">Predictive Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About_Us.html">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="header_container">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h1>St. Louis Overview</h1>
            <h3>Explore the resources below to find out what makes St. Louis so great to live!</h3>
        </div>      
    </div>
    <!-- Jumbotron Header 
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <a href="#" class
      ="btn btn-primary btn-lg">Call to action!</a>
    </header>-->

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../Images/schools_500x325.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Schools</h4>
            <p class="card-text">Explore the school districts in the area.</p>
          </div>
          <div class="card-footer">
            <a href="https://graphics.stltoday.com/apps/education/schools/all-districts/" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../Images/transportation_500x325.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Transportation</h4>
            <p class="card-text">How to get around the area is key to any move.  Learn more about navigating the region.</p>
          </div>
          <div class="card-footer">
            <a href="https://www.modot.org/stlouis" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../Images/sports_500x325.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Sports</h4>
            <p class="card-text">The St. Louis is a sports town.  Cheer on any number of its professional teams.</p>
          </div>
          <div class="card-footer">
            <a href="https://explorestlouis.com/discover/st-louis-sports-fans/" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <img class="card-img-top" src="../Images/explore_500x325.png" alt="">
          <div class="card-body">
            <h4 class="card-title">Explore</h4>
            <p class="card-text">The region has something for everyone to explore.  St. Louis also boast a number of free adventures unquie only to St. Louis. </p>
          </div>
          <div class="card-footer">
            <a href="https://explorestlouis.com/25-things-to-do-in-st-louis/" class="btn btn-primary">Click Here</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5">
    <div class="container">
      <p class="m-0 text-center text-black">Ai-Ai &copy;2021</p>
      <p class="m-0 text-center text-black">Produced by John Loucks, Regan Maher and Eric Penrose.</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
